USE [master]
GO
/****** Object:  Database [LoginSayfasiDB]    Script Date: 1.12.2022 11:15:18 ******/
CREATE DATABASE [LoginSayfasiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginSayfasiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginSayfasiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginSayfasiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginSayfasiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginSayfasiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginSayfasiDB]
GO
USE [LoginSayfasiDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1.12.2022 11:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 1.12.2022 11:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Locked] [bit] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221130072739_ilkinit', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221130085011_iki', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221201080604_roleEkli', N'6.0.0')
GO
INSERT [dbo].[UserTable] ([Id], [FullName], [UserName], [Password], [Locked], [CreationTime], [Role]) VALUES (N'0ac4e117-d586-4a47-29d1-08dad2b04589', NULL, N'admin', N'8B77EFE6A6EEC39C56DF9638FA5B0FE5', 0, CAST(N'2022-11-30T11:52:54.0837719' AS DateTime2), N'admin')
INSERT [dbo].[UserTable] ([Id], [FullName], [UserName], [Password], [Locked], [CreationTime], [Role]) VALUES (N'0d8bd229-ad7b-4588-f3e5-08dad36c2346', NULL, N'ahmet', N'92228D4886157B9D5C24948FE35ACF3A', 0, CAST(N'2022-12-01T10:17:42.7718234' AS DateTime2), N'user')
INSERT [dbo].[UserTable] ([Id], [FullName], [UserName], [Password], [Locked], [CreationTime], [Role]) VALUES (N'e44d647b-604e-4f15-0d5f-08dad373c694', NULL, N'fatma', N'8B77EFE6A6EEC39C56DF9638FA5B0FE5', 0, CAST(N'2022-12-01T11:12:23.2387076' AS DateTime2), N'user')
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT (N'') FOR [Role]
GO
USE [master]
GO
