@{
    ViewData["Title"] = "Hata Sayfası";
}

<h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-1x"></i> Hata</h1>
<div class="row">
    <div class="col">Yetkisiz giriş veya sayfa bulunamadı... <br /><br /> <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ana sayfa</a>  </div>
</div>